.myInfo img {
    border-radius: 50%;
    border: 1px white solid !important;
    width: 75px;
    height: 75px;
    vertical-align:middle;
}

.red-div {
    background-color: red;
    border: green 5px dotted !important;
}
.red-div label:hover {
    font-size: 7em;
}
button {
    font-size: 1em;
}

#quoteButton {
    margin-top: 15px;
}

#searchForm input[type=text] {
    height: 42px;
    width: 300px;
    font-size: 0.7em;
}

#searchForm button {
    vertical-align: middle;
}

#bookFinderSlide {
    top: auto !important;
}

#bookDescription {
    line-height: 2.5ex;
    height: 7.5ex; /* 2.5ex for each visible line */
    overflow: hidden;
}